<!DOCTYPE html>
<html lang="de">
   <head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
      <title>Bibliothek KGS Forster Linde</title>

      <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="application.css">
    
</head>
<body>

<div class="container"  data-ng-controller="BookLoansController">
   <div class="navbar">
     <div class="navbar-inner">
       <a class="brand" href="#">Biblio FL</a>
       <ul class="nav">
         <li class="active"><a href="#">Ausleihen</a></li>
         <li><a href="#">Bücher</a></li>
         <li><a href="#">Personen</a></li>
         <li><a href="#">Administration</a></li>
       </ul>
     </div>
   </div>

   <div class="row">
      <div class="span5">
         <form ng-submit="parseGeneralInput()">
            <input class="input-xlarge" type="text" ng-model="generalInputText">
         </form>
      </div>
      <div class="span7" ng-show="patron">
         <p><span class="label label-info">{{ patron.barcode }}</span> <span class="label">{{ patron.firstName }} {{ patron.lastName }} </span><i class="icon-edit"></i></p>
      </div>
   </div>

   <div class="row">
      <div class="span5">
         <div ng-repeat="book in issuedBooks"> 
            <div><p>
            <span ng-switch on="book.issuedStatus">
               <span ng-switch-when="RETURNED" class="label label-success">{{book.barcode}}<i class="icon-ok"></i> </span>
               <span ng-switch-when="ISSUED" class="label label-important">{{book.barcode}}<i class="icon-share"></i></span>
            </span>
             <span>{{book.title}}</span>
             <i class="icon-edit"></i>
            </p></div>
         </div>
      </div>
   </div>
   
   <div class="row">
      <div class="span12">
         <div data-ng-view></div>
      </div>
   </div>
</div>

<script src="lib/requirejs/require.js"></script>
<script src="application.js"></script>

</body>
</html>
