<!DOCTYPE html>
<html lang="de">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Bibliothek KGS Forster Linde</title>

    <style type="text/css">
      [ng\:cloak], [data-ng-cloak], [ng-cloak], .ng-cloak {
      display: none;
      }
    </style>


    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="application.css">


  </head>
  <body>

    <div class="container" data-ng-controller="ApplicationController" data-ng-cloak>
      <div class="navbar">
	<div class="navbar-inner">
	  <a class="brand" href="#">Biblio FL</a>
	  <ul class="nav" >
	    <li data-ng-repeat="menu in mainMenu"
		data-ng-class="{ active: menu.id == activeMenuId, dropdown: menu.submenu != null}">
	      <a href="#" data-ng-show="menu.submenu"
		 data-ixoid-dropdown-toggle data-ng-class="{ 'dropdown-toggle' : true}">{{menu.name}}<b class="caret" ng-show="menu.submenu"></b></a>
	      <ul class="dropdown-menu"  data-ng-show="menu.submenu">
		<li data-ng-repeat="submenu in menu.submenu"><a href="{{submenu.href}}">{{submenu.name}}</a></li>
	      </ul>
	      <a data-ng-href="{{menu.href}}"  data-ng-hide="menu.submenu">{{menu.name}}</a>
	    </li>
	  </ul> 
	</div>
      </div>

      <div class="row">
        <!--
	   <div class="offset5 span7" style="position: absolute">
	     <button class="btn" data-ng-click="stopSynchronisation()">Stop Synchronisation</btn>
</div>
-->     

	<div class="offset5 span7" style="position: absolute">
	  <div data-ixoid-messages="ixoidMessages"></div>
	</div>
      </div>
      
      

      <div class="row">
	<div data-ng-view class="span12"></div>
      </div>
    </div>

    <script src="lib/requirejs/require.js"></script>
    <script src="application.js"></script>

  </body>
</html>
