*.py[cod]
*~

# C extensions
*.so

# BerkeleyDB
*.db

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Log files
*.log

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
