<!DOCTYPE html>
<html lang="de">
   <head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
      <title>Bibliothek KGS Forster Linde</title>

      <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="application.css">
    
      <style type="text/css">
         [ng\:cloak], [data-ng-cloak], [ng-cloak], .ng-cloak {
            display: none;
         }
      </style>
</head>
<body>

<div class="container-fluid"  data-ng-controller="BookLoansController">
   <div class="navbar">
     <div class="navbar-inner">
       <a class="brand" href="#">Biblio FL</a>
       <ul class="nav">
         <li class="active"><a href="#">Ausleihen</a></li>
         <li><a href="#">Bücher</a></li>
         <li><a href="#">Personen</a></li>
       </ul>
     </div>
   </div>

   <div class="row-fluid">
      <div class="span5">
         <form ng-submit="parseGeneralInput()">
            <input type="text" ng-model="generalInputText">
         </form>
      </div>
      <div class="span7">
         <p>{{ patron.firstName }} {{ patron.lastName }} <span class="label label-info">{{ patron.barcode }}</span></p>
      </div>
   </div>

   <div class="row-fluid">
      <div class="span5">
         <div ng-repeat="book in issuedBooks"> 
            <div><p>
            <span ng-switch on="book.issuedStatus">
               <span ng-switch-when="RETURNED" class="badge badge-success">R</span>
               <span ng-switch-when="ISSUED" class="badge badge-important">A</span>
            </span>
             {{book.title}}
            </p></div>
         </div>
      </div>
   </div>

   <div class="row-fluid">
      <div class="span12">
         <div data-ng-view></div>
      </div>
   </div>
</div>

<script src="lib/requirejs/require.js"></script>
<script src="application.js"></script>

</body>
</html>
