<h4>Buch ändern / Neues Buch anlegen</h4>

<form class="form-horizontal" action="">
	<div class="control-group">
		<label class="control-label">Autor</label>
		<div class="controls">
			<input type="hidden" ng-model="editableBook.id" /> <input
				type="text" class="input-xlarge" ng-model="editableBook.author" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Titel</label>
		<div class="controls">
			<input type="text" class="input-xxlarge"
				ng-model="editableBook.title" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Verlag</label>
		<div class="controls">
			<input type="text" ng-model="editableBook.publisher" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Nummer</label>
		<div class="controls">
			<input type="text" ng-model="signature" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Schlagwörter</label>
		<div class="controls">
			<input type="text" ng-model="editableBook.tags" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">ISBN</label>
		<div class="controls">
			<input type="text" ng-model="editableBook.isbn" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Antolin</label>
		<div class="controls">
			<input type="text" ng-model="editableBook.antolin" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Spender</label>
		<div class="controls">
			<input type="text" ng-model="editableBook.donation" />
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox"> <input type="checkbox"
				ng-model="editableBook.donationCertificate" /> Spendenbescheinigung
			</label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Barcode</label>
		<div class="controls">
			<input type="text" ng-model="editableBook.barcode" />
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn" data-ng-submit="createOrEditBook()"
				data-ng-show="editableBook.id">Ändern</button>
			<button type="submit" class="btn" data-ng-submit="createOrEditBook()"
				data-ng-hide="editableBook.id">Neu anlegen</button>
		</div>
	</div>
</form>

<div class="row">
	<div class="span12"></div>
</div>
