<h3>Kundin anlegen / ändern</h3>
<form class="form-horizontal" ng-submit="saveCustomerAndCreateNew()">

	<div class="control-group">
		<label class="control-label">Vorname</label>
		<div class="controls">
			<input type="hidden" ng-model="editableCustomer.id" /> <input
			id="firstName"	type="text" ng-model="editableCustomer.firstName" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Nachname</label>
		<div class="controls">
			<input type="text" ng-model="editableCustomer.lastName" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Klasse</label>
		<div class="controls">
			<select data-ng-model="editableCustomer.schoolClass"
				data-ng-options="value for ( key, value ) in editableCustomer.schoolClassMap">
			</select>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Notizen</label>
		<div class="controls">
			<textarea rows="4" class="input-xlarge"
				ng-model="editableCustomer.notes" />
		</div>
	</div>


	<div class="control-group">
		<label class="control-label">Barcode</label>
		<div class="controls">
			<input type="text" ng-model="editableCustomer.barcode" />
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary">Speichern</button>
		</div>
	</div>
</form>
