<div class="navbar">
	<form class="navbar-form" ng-submit="parseGeneralInput()">
		<div class="span5 input-append">
			<input class="input-xlarge" type="text" id="generalInputText" data-ixoid-focus data-ng-model="generalInputText"
				placeholder="Barcode oder Suchtext">
			<button class="btn" type="button">Suchen</button>
		</div>
	</form>
</div>


<div class="row customerTable" ng-show="customer">
<div class="span12">
   <p><a href="#/customers/edit/{{customer.id}}">{{customer.firstName}} {{customer.lastName}}</a></p>
   <p>Klasse: {{customer.schoolClass}}</p>
   <p>{{customer.notes}}</p>
</div>
</div>


<div class="row" ng-show="customer">
	<h4>
		Ausgeliehene Bücher
	</h4>
	<div class="span12 bookTableIssued">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Titel</th>
					<th>Signatur</th>
					<th>Ausgeliehen bis</th>
               <th>Notizen</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="book in issuedBooks">
					<td>{{$index + 1}}</td>
					<td><a href="#/books/edit/{{book.id}}">{{book.title}}</a></td>
					<td>{{book.signature}}</td>
					<td>{{book.dueDate.asGermanDate()}}</td>
               <td>{{book.notes}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<br />

<div class="row"  ng-show="customer">
	<h4>
		Zurückgebrachte Bücher
	</h4>
   <div class="span12 bookTableReturned">
      <table class="table table-hover">
         <thead>
            <tr>
               <th>#</th>
               <th>Titel</th>
               <th>Signatur</th>
               <th>Zurückgebracht am</th>
               <th>Notizen</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="book in returnedBooks">
               <td>{{$index + 1}}</td>
               <td><a href="#/books/edit/{{book.id}}">{{book.title}}</a></td>
               <td>{{book.signature}}</td>
               <td>{{book.returnDate.asGermanDate()}}</td>
               <td>{{book.notes}}</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>

<br />

<div class="row" data-ng-show="searchedCustomers">
   <h4>
     Kundensuche nach: <span class="label">{{searchedCustomerText}}</span>
   </h4>
   <div class="span12 bookTableSearched">
      <table class="table table-hover">
         <thead>
            <tr>
               <th>#</th>
               <th>Name</th>
               <th>Notizen</th>
               <th>Barcode</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="customer in searchedCustomers">
               <td>{{$index + 1}}</td>
               <td><a href="#/issues/show/{{customer.id}}"><span data-ng-click="checkInCustomer( $index )">{{customer.firstName}} {{customer.lastName}}</span></a></td>
               <td>{{customer.notes}}</td>
               <td>{{customer.barcode}}</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>

<br />

<div class="row" data-ng-show="searchedBooks">
	<h4>
	  Büchersuche nach: <span class="label">{{searchText}}</span>
	</h4>
   <div class="span12 bookTableSearched">
      <table class="table table-hover">
         <thead>
            <tr>
               <th>#</th>
               <th>Titel</th>
               <th>Signatur</th>
               <th>Ausgeliehen bis</th>
               <th>Notizen</th>
               <th>Barcode</th>
               <th><i class="icon-pencil"></i></th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="book in searchedBooks">
               <td>{{$index + 1}}</td>
               <td>{{book.title}}</td>
               <td>{{book.signature}}</td>
               <td>{{book.dueDate.asGermanDate()}}</td>
               <td>{{book.notes}}</td>
               <td>{{book.barcode}}</td>
               <td><a href="#/books/edit/{{book.id}}"><i class="icon-book"></i></a></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>

